<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>

  <title>PetMarket - Carrito de compras</title>
  <link rel="stylesheet" href="/css/productCart.css" />
</head>

<body>
  <%- include('../partials/header.ejs') %>
  <main>
    <div class="head">
      <h2>Carrito de compras</h2>
      <p>
        Aun no estás listo? <a class="enlace" href="/">Continuar comprando</a>
      </p>
    </div>

    <div class="flex">
      <section class="carrito">
        <% if (cart && cart.cart_items) { %>
        <% cart.cart_items.forEach(cartItem => { %>
        <article class="producto1">
          <img
            src="/img/<%= cartItem.product.categories.category %>/<%= cartItem.product.pets.pet %>/<%= cartItem.product.img %>"
            alt="<%= cartItem.product.name %>" class="foto-producto" />
          <div class="info">
            <p class="cantidad"><%= cartItem.quantity %>x</p>
            <p class="nombre-producto"><%= cartItem.product.name %></p>
            <p class="precio">$<%= cartItem.product.price %></p>
            <% if (cartItem.product.discount && cartItem.product.discount > 0) { %>
              <p class="descuento"><%= cartItem.product.discount %> % off</p>
              <% } %>
          </div>
          <form action="/products/cart/remove/<%= cartItem.product.id %>" method="post">
            <input type="submit" class="remover" value="Remover" />
          </form>
        </article>
        <div class="linea"></div>
        <% }); %>
        <% } else { %>
        <p>No hay productos en el carrito de compras.</p>
        <% } %>
      </section>

      <section class="resumen">
        <h4>Resumen de compra</h4>
        <form action="" method="">
          <div class="cupon">
            <label for="cupon">Cupon</label>
            <br />
            <input type="text" name="cupon" id="cupon" placeholder="Inserte cupon" />
          </div>
  
          <article class="resumen-precios">
            <p>Sub-total</p>
            <p class="precio-resumen">$<%= totalWithoutDiscount %></p>
          </article>
  
          <article class="resumen-precios">
            <p>Descuento</p>
            <p class="precio-resumen">-$<%= totalDiscount %></p>
          </article>
  
          <div class="linea"></div>
  
          <article class="resumen-precios">
            <p>Total</p>
            <p class="precio-resumen">$<%= totalWithDiscount %></p>
          </article>
  
          <input type="submit" class="boton" value="Pasar al pago" />
        </form>
      </section>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>
</body>

</html>