<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>

  <title>PetMarket - Detalle del Producto</title>
  <!-- Mi css -->
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>

  <%- include('../partials/header.ejs') %>

  <!-- product detail -->
  <main>
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12">
          <h2 class="products-title">
            Detalle del producto: <%= producto.name %>
          </h2>
        </div>
      </div>
      <div class="product-detail">
        <div class="row">
          <div class="col-12 col-lg-8">
            <img src="/img/<%= producto.categories.category %>/<%= producto.pets.pet %>/<%= producto.img %>" alt=""
              class="product_img" />
          </div>
          <div class="col-12 col-lg-4">
            <article class="product-detail-info">
              <h2 class="product-detail-title">Producto Para <%= producto.pets.pet %></h2>
              <p class="product-detail-description"><b>Categoria:</b> <%= producto.categories.category %></p>
              <p class="product-detail-description"><b>Descripcion:</b> <%= producto.description %></p>
              <p class="product-detail-price">Precio: $<%= producto.price %></p>

              <ul class="actions-list">
                <li>
                  <i class="fas fa-credit-card"></i>
                  <p>Pagá en 12 cuotas sin interes</p>
                </li>
                <li>
                  <i class="fas fa-store"></i>
                  <p>Retiro gratis en locales del vendedor</p>
                </li>
              </ul>

              <a href="#" class="now-button cart-button">AGREGAR AL CARRITO</a>
              <% if (locals.isAdmin) { %>
              <a href="/products/edit/<%= producto.id %>" class="action-button edit">EDITAR PRODUCTO</a>

              <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST"
                style="display: inline-flex">
                <button class="action-button delete">ELIMINAR</button>
              </form>
              <% } %>
            </article>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- /product detail -->

  <%- include('../partials/footer.ejs') %>
</body>

</html>