<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>

  <title>PetMarket - Detalle del Producto</title>
  <!-- Mi css -->
  <link rel="stylesheet" href="/css/productDetail.css">
</head>

<body>

  <%- include('../partials/header.ejs') %>

  <!-- product detail -->
  <main>
    <div class="container products-wrapper">
     
      <div class="product-detail">
        <div class="row">
          <div class="col-12 col-lg-8">
            <img src="/img/<%= producto.categories.category %>/<%= producto.pets.pet %>/<%= producto.img %>"
              alt="foto producto" class="product_img" />

              <ul class="actions-list">
                
              </ul>

          </div>
          <div class="col-12 col-md-4">
            <article class="product-detail-info"> 
             <h2 class="product-detail-title"> <%= producto.name %></h2> <!--  -->
              <p class="product-detail-description"><b>Categoria:</b> <%= producto.categories.category %></p>
              <p class="product-detail-description"><b>Descripcion:</b> <%= producto.description %></p>
              <p class="product-detail-price">Precio: $<%= producto.price %></p>

              <ul class="actions-list">
                <% if (!locals.user && !locals.isAdmin) { %>
                <li>
                  <i class="fas fa-truck"></i>
                  <p>Para realizar compras debe registrarse</p>
                </li>
                <% } %>
                <li>
                  <i class="fas fa-credit-card"></i>
                  <p>Pagá en 12 cuotas sin interes</p>
                </li>
                <li>
                  <i class="fas fa-store"></i>
                  <p>Retiro gratis en locales del vendedor</p>
                </li>
              </ul>

              <% if (locals.user) { %>
              <form action="/products/cart/add/<%= producto.id %>" method="POST">
                <label for="quantity">Cantidad:</label>
                <input type="number" name="quantity" id="quantity" value="1" min="1">
                <button type="submit" class="now-button cart-button">AGREGAR AL CARRITO</button>
              </form>
              <% } %>

              <% if (locals.isAdmin) { %>
              <a href="/products/edit/<%= producto.id %>" class="action-button edit">EDITAR PRODUCTO</a>

              <form action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST"
                style="display: inline-flex">
                <button class="action-button delete">ELIMINAR</button>
              </form>
              <% } %>
            </article>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- /product detail -->

  <%- include('../partials/footer.ejs') %>
</body>

</html>