<!DOCTYPE html>
<html>

<head>
    <%- include('./partials/head.ejs') %>

    <title>PetMarket - Home</title>
</head>

<body>
    <%- include('./partials/header.ejs') %>

    <main>
        <section class="contenido">
            <section class="contenido_ultima_visita">
                <h2 class="titulo">Promociones</h2>

                <% productos.forEach(producto => { %>
                    <% if(producto.discount){ %>
                    <article class="producto">
                        <a href="/products/detail/<%= producto.id %>"><img src="img/<%= producto.category %>/<%= producto.pet %>/<%= producto.image %>" alt="" class="product_img" /></a>
                        <section class="descripcion_producto">
                            <% if(producto.pet == 'gatos'){ %>
                                <i class="fas fa-cat"></i>
                            <% } else{ %>
                                <i class="fas fa-dog"></i>
                            <% } %>
                            <section class="descripcion_producto_detalle">
                                <p class="valor">$<%= producto.price %></p>
                                <p class="descuento"><%= producto.discount %>% off</p>
                            </section>
                            <p class="nombre_producto"><%= producto.name %></p>
                        </section>
                    </article>
                    <% } %>
                <% }) %>
            </section>

            <section class="oferta">
                <h2 class="titulo">Categorias</h2>

                <article class="producto">
                    <img src="/img/alimentos/dog-bones.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-dog"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Alimentos</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara todo lo relacionado para alimentar a
                            su mascota.
                        </p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/accesorios/image_accesorios.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-cat"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Accesorios</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara accesorios muy útiles para su
                            mascota.
                        </p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/juguetes/imagen_juguetes.jpg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-dog"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Juguetes</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara todo lo relacionado para divertirse
                            con su mascota.
                        </p>
                    </section>
                </article>

                <article class="producto">
                    <img src="/img/aseo/aseo_mascotas.jpeg" alt="" />
                    <section class="descripcion_producto">
                        <i class="fas fa-cat"></i>
                        <section class="descripcion_producto_detalle">
                            <p class="valor">Cuidado e Higiene</p>
                        </section>
                        <p class="nombre_producto">
                            En esta sección encontrara todo para el aseo de su mascota.
                        </p>
                    </section>
                </article>
            </section>

        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>