<div class="ps-row ps-padding-64" id="menu">
  <div class="ps-col l6 ps-padding-large">
    <h1 class="ps-center">Nuestros Productos</h1>
    <p class="ps-text-grey"></p>
    <br />
    <% for(let i=0; i < product.length; i++) { %>
      
      <h4><a href="/detalle/<%=i+1%>"><%= product[i].name %> </a> </h4>
     
        <%= product[i].description%>
        <br/>
        <%= product[i].precio%>
        <br/>
        <%= product[i].category%>
        <br/>
        <%= product[i].color%>
        <br/>
        <img src="/img/accesorios/Gatos/<%= product[i].image %>"
        class="ps-round ps-image ps-opacity-min"
          alt="Menu"
        />
      </p>
      <br />
    <% }%>   
</div>
