<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>

    <title>PetMarket - Editar Perfil de Usuario</title>
    <!-- Mi css -->
    <link rel="stylesheet" href="/css/userEdit.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section class="formu-registro">
        <section class="inicio-logo">
          <h4>Editar Perfil: <%= user.name %></h4>
          <img
            src="/img/users/<%= user.image%>"
            alt="logo-pet-market"
            class="img"
          />
        </section>

        <form
          action="/users/edit/<%= user.id %>?_method=PUT"
          method="POST"
          enctype="multipart/form-data"
          class="crear-formu"
          <div class="control-formu">
            <input
              class="control"
              type="text"
              name="name"
              value="<%= locals.oldData ? oldData.name : user.name %>" class="control" placeholder="Ingrese el nuevo nombre"
            />
            <div class="errores_nombre text-danger"> </div>
            <% if (locals.errors && errors.name) { %>
              <div class="text-danger">
                <%= errors.name.msg %> 
              </div>
            <% } %>
          </div>

          <div class="control-formu">
            <input
              type="text"
              name="lastName"
              value="<%= locals.oldData ? oldData.lastName : user.lastname %>" class="control" placeholder="Ingrese el nuevo apellido"
            />
            <div class="errores_apellido text-danger"> </div>
            <% if (locals.errors && errors.lastName) { %>
              <div class="text-danger">
                <%= errors.lastName.msg %> 
              </div>
            <% } %>
          </div>

          <div class="control-formu">
            <input
              type="text"
              name="email"
              value="<%= locals.oldData ? oldData.email : user.email %>" class="control"
            placeholder="Ingrese su nuevo mail"/>
            <div class="errores_email text-danger"> </div>
            <% if (locals.errors && errors.email) { %>
              <div class="text-danger">
                <%= errors.email.msg %> 
              </div>
            <% } %>
          </div>
 
          <div class="control-formu">
            <input
              type="file"
              name="img"
              placeholder="Editar imagen del perfil" 
            />
            <div class="errores_imagen text-danger"> </div>
            <% if (locals.errors && errors.img) { %>
              <div class="text-danger">
                <%= errors.img.msg %>
              </div>
            <% } %>
          </div>

          <button class="bottom" type="submit" id="edit-button">Editar Información</button>
        </form>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
    <script src="/js/editUser.js"></script>
  </body>
</html>
