<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head.ejs') %>

    <title>PetMarket - Register</title>
    <!--Link Css-->
    <link href="/css/register.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>

    <main>
      <section class="formu-registro">
        <section class="inicio-logo">
          <h4>Formulario de Registro</h4>
          <img
            src="/img/Logo-pet-market.jpg"
            whith="360"
            alt="logo-pet-market"
            class="img"
          />
        </section>

        <form action="/users/register" method="POST" enctype="multipart/form-data" class="crear-formu" >
          <div class="control-formu">
            <input
             class="control"
              type="text"
              name="nombre"
              id="nombre"
              placeholder="Nombre"
              value="<%= locals.oldData ? oldData.nombre : null %>"
            />
            <% if (locals.errors && errors.nombre) { %>
              <div class="text-danger">
                <%= errors.nombre.msg %> 
              </div>
            <% } %>
          </div>

          <div class="control-formu">
            <input
              class="control"
              type="text"
              name="apellido"
              id="apellido"
              placeholder="Apellido"
              value="<%= locals.oldData ? oldData.apellido : null %>"
            />
            <% if (locals.errors && errors.apellido) { %>
              <div class="text-danger">
                <%= errors.apellido.msg %> 
              </div>
            <% } %>
          </div>

          <div class="control-formu">
            <input
              class="control"
              type="email"
              name="email"
              id="email"
              placeholder="Correo Electrónico"
              value="<%= locals.oldData ? oldData.email : null %>"
            />
            <% if (locals.errors && errors.email) { %>
              <div class="text-danger">
                <%= errors.email.msg %> 
              </div>
            <% } %>
          </div>

          <div class="control-formu">
            <input
              class="control"
              type="password"
              name="password"
              id="password"
              placeholder="Contraseña"
              value="<%= locals.oldData ? oldData.password : null %>"
            />
            <% if (locals.errors && errors.password) { %>
              <div class="text-danger">
                <%= errors.password.msg %> 
              </div>
            <% } %>
          </div>
          
          <div class="control-formu">
								<select 
									name="category" 
								>
									<option value="">Elegí una categoria</option>
									<%  
										let categories = ['Administrador', 'Super-User', 'Normal'];
									%>
									<% for (const oneCategory of categories) { %>
										<option 
											value="<%= oneCategory %>"
											<%= locals.oldData && (oneCategory === oldData.category) ? 'selected' : null %> 
										> <%= oneCategory %> </option>
									<% } %>
								</select>
								<% if (locals.errors && errors.category) { %>
									<div class="text-danger">
										<%= errors.category.msg %>
									</div>
								<% } %>
							</div>
              

 
          <div class="control-formu">
            <input
              class="control"
              type="file"
              name="imagen"
              placeholder="Imagen del perfil"
            />
            <% if (locals.errors && errors.imagen) { %>
              <div class="text-danger">
                <%= errors.imagen.msg %>
              </div>
            <% } %>
          </div>

            <div class="control-formu">
              <div class="checkbox">
                <label for="terminos"> Acepto los términos y condiciones.</label>
                <input type="checkbox" name="terminos"  <%= locals.oldData && oldData.terminos ? 'checked' : null %>  />
              </div>             
              <% if (locals.errors && errors.terminos) { %>
                <div class="text-danger">
                  <%= errors.terminos.msg %>
                </div>
              <% } %>
            </div>
    

          <div>
            <button class="bottom" type="submit">Registrar</button>
          </div>

          <div>
            <p><a href="/users/login"> Ya estoy registrado </a></p>
          </div>
        </form>
      </section>
    </main>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
