<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs') %>

  <title>PetMarket - Perfil de usuario</title>
  <!--Link Css-->
  <link href="/css/userProfile.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <%- include('../partials/header.ejs') %>

        <main>
          <section class="perfil">
            <div class="saludo">
              
              <img class="imagUser" src="/img/users/<%= user.image%>" alt="Profile Image" width="100" height="100">
              <h2>Hola <%= user.name %></h2> 
              

            <article class="content">
              <h2>Perfil</h2>
               <div>
                  <p>Nombre: <%= user.name %></p>
                  <p>Apellido: <%= user.lastname %></p>
                  <p>Email: <%= user.email %></p>
                  <a href="/users/edit"> <!-- completar parametro a requerir -->
                    <button>Editar Mi Perfil</button>
                  </a>
               </div> 

          </article>  
        </section>
  </main>

  <%- include('../partials/footer.ejs') %>

</body>

</html>